<div class="container">
  <h1 class="color-white text-center my-5">
    {{ titleCards }}
  </h1>

  <div class="row">
    <div *ngFor="let item of items" class="my-3 animated fadein" [ngClass]="columns">
      <div class="card puntero">
        <img [src]="item | noimage" [alt]="item.name" [title]="item.name" (click)="viewArtist(item)" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">
            {{ item.name }}
          </h5>
    
          <p class="card-text">
            <span class="badge badge-pill badge-primary" *ngFor="let artist of item.artists">
              {{ artist.name }}
            </span>
          </p>

          <iframe [src]="item.uri | domseguro" width="100%" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>

      </div>
    </div>
  </div>
</div>